.root
    // display: flex
    height 100%
    .files
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        .file
            width: 200px
            margin-right: 20px
            margin-bottom: 20px
            .operations
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .operation
                    margin 10px 0
                    &.active
                        .applying
                            color: #0f0