.html
    width: 100vw
    height: 100vh
    display: flex
    // overflow hidden
    // align-items stretch
    .aside
        display: flex
        .sider
            flex: 0 0 140px!important
            min-width 0!important
            width: 140px!important
    .body
        flex: 1
        overflow: hidden
        .content
            height calc( 100vh - 0.6rem )
            overflow-y: auto