.setModal
    .btn
        border none!important
    .setContent
        padding 0.2rem
    .head
        position relative
        padding-bottom: 0.16rem
        border-bottom: 1px solid #333333
        h3
            font-size: 0.16rem
            color: #ffffff
            padding-left: 0.3rem
            margin: 0
        .close
            position: absolute
            top: 0
            right: 0
            cursor pointer
    .body
        .settings
            padding 0.2rem 0.4rem 0
            margin-bottom: 0.4rem
            .setting
                display: flex
                margin-bottom: 0.2rem
                font-size: 0.13rem
                &:last-child
                    margin-bottom: 0
                .label
                    color: #bbbbbb
                    width: 0.8rem
                    margin-right: 0.3rem
                    display: flex
                    // align-items: center
                    justify-content: flex-end
                    position relative
                    top: 2px
                .content
                    flex: 1
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    color: #888888
                    .btn
                        cursor pointer
                    .bindWay
                        img
                            margin-right: 0.16rem
                            cursor pointer
                .group
                    .value
                        width: 1.2rem
                        padding-right: 0.3rem
                        white-space: nowrap
                        overflow hidden
                        text-overflow: ellipsis
                    .btn
                        font-size: 0.12rem
                        color: #999999
                        width: 0.56rem
                        height: 0.24rem
                        line-height: 0.24rem
                        text-align: center
                        border-radius: 0.12rem
                        background-color: #333333
        .footBtn
            margin-bottom: 0.2rem
            .submit
                width: 1rem
                height: 0.3rem
                background-color: #1AA7A7
                font-size: 0.14rem
                color: #ffffff
                letter-spacing: 1px
                margin-left: 1.5rem